config ALLEGRO_VCU_DEC_DRIVER
    tristate "Allegro VCU Decoder"
    depends on HAS_DMA
    select DMA_SHARED_BUFFER
    help
        Enables Allegro VCU driver.
        To compile this driver as a module, choose M here.

