[Desktop Entry]
Type=Application
Name=Terminal
Comment=When all else fails.
Exec=matchbox-terminal
Icon=utilities-terminal
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
