[Unit]
Description=NFS Mount Daemon
DefaultDependencies=no
After=rpcbind.socket
Requires=proc-fs-nfsd.mount
After=proc-fs-nfsd.mount
After=network.target local-fs.target
BindsTo=nfs-server.service
ConditionPathExists=/etc/exports

[Service]
EnvironmentFile=-/etc/nfs-utils.conf
ExecStart=/usr/sbin/rpc.mountd -F $MOUNTD_OPTS
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
